.ncku-rating {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.ncku-subrow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.ncku-badge {
  color: white;
  padding: 4px;
  text-align: center;
}
